@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a href="/transporters">Transporters</a>
    </div>
    <div>
        <a href="/Swagger">Swagger</a>
    </div>
</div>
